$input-bg:                var(--input-background-color);
$input-color:             var(--input-color);
$input-border-color:      var(--input-border-color);
$dropdown-bg:             var(--input-background-color);
$dropdown-color:          var(--input-color);
$dropdown-border-color:   var(--input-border-color);
// $dropdown-link-color:     var(--input-color);
$modal-content-bg:        var(--modal-content-bg);
$modal-header-border-color: var(--input-border-color);
$modal-footer-border-color: var(--input-border-color);
